/*  #A2E1EF : non-photo blue
    #C9E055 : june bud
    #F2B759 : maximum yellow red
    #393E41 : black olive
    #C9625A : indian red
*/

/* GLOBAL STYLING */
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-align: center;
}

body {
    background-color: #A2E1EF;
    font-family: 'Open Sans', serif;
    font-size: 100%;
}

#welcome {
    width: 100%;
    height: 100%;
}

/* SECTION STYLING */
#nav_bar {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #EAEAEA;
    border-bottom: solid #A2E1EF 0.1em;
    text-align: center;
    font-size: 1.1em;
}

#container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 90%;
}

#content {
    margin-top: 5em;
}

#banner {
    /*apple from source: http://www.houzz.com/photos/6070710/Red-Apple-Watercolor-Archival-Print-by-Elf-Shoppe-contemporary-prints-and-posters*/
    /*image modified by Yanying Ji*/
    background-image: url(../images/bannernarrow.jpg);
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #A2E1EF;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0em 2em 0em 2em;
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

#curpage {
    color: #393E41;
}

li .home {
    color: #EA8388;
}

.events {
    color: #C0D847;
}

.food {
    color: #F2B759;
}

.people {
    color: #83D1E2;
}

.directions {
    color: #C9625A;
}

img {
    width: 100%;
}
p {
    text-align: left;
    line-height: 150%;
    text-indent: 2em;
}

footer {
    margin: 2em auto;
    width: 90%;
    background-color: #A2E1EF;
    color: #FFFFFF;
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.1em;
    padding: 0.1em;
    display: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    #banner {
        background-size: cover;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #banner {
        background-size: cover;
    } 
}

@media screen and (min-width: 769px) and (max-width: 1200px) {

}

@media screen and (min-width: 1201px) {
    
}