/* #F2B759 : Maximum Yellow Red
   #60E59A : Very Light Malachite Green
   #E15554 : Jelly Bean
   #393E41 : Black Olive
   #D3D0CB : Light Gray 
*/

/*  #A2E1EF : non-photo blue
    #C9E055 : june bud
    #F2B759 : maximum yellow red
    #393E41 : black olive
    #C9625A : indian red
*/

/* #E7D5B1
*/
/* GLOBAL STYLING */
html, body {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-align: center;
}

body {
    background-color: #EAEAEA;
    font-family: Optima, serif;
    font-size: 100%;
}

/* SECTION STYLING */
#nav_bar {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #EAEAEA;
    border-bottom: solid #A2E1EF 0.1em;
    text-align: center;
    font-size: 1.1em;
}

h1 {
    margin: 0;
    padding: 0.2em;
    background-color: #A2E1EF;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    letter-spacing:0.1em;
    font-size: 2.5em;
    color: #FFFFFF;
}

h1 span {
    color: #C9625A;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0em 2em 0em 2em;
    font-family: 'Exo', sans-serif;
    letter-spacing:0.1em;
}

a {
    text-decoration: none;
}

#curpage {
    color: #393E41;
}

li .home {
    color: #EA8388;
}

.events {
    color: #C0D847;
}

.food {
    color: #F2B759;
}

.people {
    color: #83D1E2;
}

.directions {
    color: #C9625A;
}

a:hover {
    opacity: 0.5;
}

#container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 90%
}

#content {
    margin-top: 8em;
}

img {
    width: 100%;
}

p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;
    text-indent: 2em;
}

footer {
    margin: 2em auto;
    width: 90%;
    background-color: #A2E1EF;
    color: #FFFFFF;
    font-family: 'Exo', sans-serif;
    letter-spacing: 0.1em;
    padding: 0.1em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 480px) {
    
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    
}

@media screen and (min-width: 1201px) {
    
}